# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Counter-Strike\ Global\ Offensive
Infinite\ Crisis\ Steam
Counter\ Strike

#############
#  DOTA 2 ignore
#############

*.vpk
*.vpcf_c
*.vsnd_c
*.vsndevts_c
*.vmat_c
*.vtex_c
*.bin
*.vxml_c
*.vcss_c
*.vjs_c
*.psd
_CommonRedist
platform
dota_ugc
bin
config
EmptySteamDepot
backupgit
dota
*.sublime*
git\ help.txt
steam_appid.txt

#############
#  DOTA 2 Addons Path
#############
!dota\ 2\ beta/.gitignore
dota\ 2\ beta/game/*
!dota\ 2\ beta/game/dota_addons/
dota\ 2\ beta/game/dota_addons/*
!dota\ 2\ beta/game/dota_addons/fantasy_war_arena/

dota\ 2\ beta/content/*
!dota\ 2\ beta/content/dota_addons/
dota\ 2\ beta/content/dota_addons/*
!dota\ 2\ beta/content/dota_addons/fantasy_war_arena/
